.mainBody {
  /* max-width: 80rem; 1280px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.careersMainContainer {
  height: 85vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.careersLandingImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.contentSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #f9f9f9; /* Soft background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  font-weight: 500;
  max-width: 80rem;
  text-align: justify;
}

.subTitle {
  font-size: 2rem;
  color: #4b0406;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

/* Container styles */
.careersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80rem;
  gap: 2rem;
  padding: 2rem;
  background-color: #f8f9fa; /* Light background for classic feel */
}

.card {
  position: relative;
  background-color: #4b0406; /* White background for the card */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  max-width: 450px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 1rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333; /* Dark text for readability */
  margin-bottom: 0.5rem;
  text-align: left;
}

.cardDesc {
  font-size: 1rem;
  color: #555555; /* Subtle color for the description */
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 3rem;
}

.knowMoreBtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.knowMoreBtn:hover {
  background-color: #0056b3;
}

.enquiryContainer {
  min-height: 30vh;
  width: 100%;
  background-color: #f9f9f9; /* Soft background */
  padding: 1rem 0;
}
