.gMapsContainer {
  width: 100%;
  height: 100%; /* Occupy 50% of the parent container's height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden; /* Ensure content stays within the border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-bottom: 1rem; /* Space between the map and other content */
}

.mapFrame {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px; /* Match the container's border radius */
}
