.mainBody {
  /* max-width: 80rem; 1280px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.coeMainContainer {
  height: 85vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.coeLandingImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.contentSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #f9f9f9; /* Soft background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  font-weight: 500;
  max-width: 80rem;
  text-align: justify;
}

.subTitle {
  font-size: 2rem;
  color: #4b0406;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

.imgOne {
  height: 290px;
  width: 450px;
  object-fit: fill;
  margin-top: 2rem;
  border: 0;
  border-radius: 8px;
}

.enquiryContainer {
  min-height: 30vh;
  width: 100%;
  background-color: #f9f9f9; /* Soft background */
  padding: 1rem 0;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .coeMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 0.75rem;
  }

  .subTitle {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .coeMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 0.8rem;
  }

  .subTitle {
    font-size: 1.5rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .coeMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 1rem;
  }

  .subTitle {
    font-size: 1.7rem;
    line-height: 1.5;
  }
}
