.mainBody {
  /* max-width: 80rem; 1280px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.aboutUsMainContainer {
  height: 85vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.aboutUsLandingImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.contentSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #f9f9f9; /* Soft background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03rem;
  font-weight: 500;
  max-width: 500px;
  text-align: justify;
}

.subTitle {
  font-size: 2rem;
  color: #4b0406;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

.imgOne {
  width: 100%;
  max-width: 350px;
  height: 300px;
  border-radius: 8px;
}

.cardContainer {
  /* display: grid;  */
  /* Use grid for better control over layout */
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); */
   /* Adjust the number of columns based on available space */
  
  display: flex;
  justify-content: center;
   gap: 1rem; /* Space between items */
  justify-items: center; /* Center align the grid items */
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 80rem;
}

.card {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 1rem;
  min-height: 250px;
  max-height: 350px;
}

.cardOne {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  max-width: 450px;
  min-width: 250px;
  width: 100%;
  height: 130px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #333333; /* Dark text for readability */
  margin-bottom: 0.7rem;
  text-align: center;
}

.cardDesc {
  font-size: 0.9rem;
  color: #555555; /* Subtle color for the description */
  line-height: 1.6;
  text-align: justify;
}

.list {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.list li {
  flex: 1 1 100%; /* Adjust width to half of the container with gap */
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  width: 100%;
  padding: 0 0.5rem;
  max-width: 500px;
}

.heroSection {
  width: 100%;
  padding: 5rem 2rem;
  background: #f5f5f5; /* Light background similar to Technotran */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.innerContainer {
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 3rem;
}

.innerContainerOne {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 3rem;
}

.imageWrapper {
  flex: 0.4;
  display: flex;
  justify-content: center;
  max-width: 80rem;
}

.heroImage {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 6px solid #ddd;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.textWrapper {
  flex: 0.6;
}

.name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.4rem;
  font-family: "Montserrat", Sans-serif;
}

.role {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4b0406;
  margin-bottom: 1rem;
  font-family: "Montserrat", Sans-serif;
}

.description {
  font-size: 1rem;
  color: #444;
  line-height: 1.7;
  text-align: justify;
}

.bannerContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imageWrapperOne {
  position: relative;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bannerOne {
  object-fit: cover;
  width: 440px;
  height: 270px;
  position: absolute;
  border-radius: 1rem;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 80rem;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .aboutUsMainContainer {
    height: 40vh;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .sectionOne {
    padding: 1rem;
  }

  .sectionTxt {
    font-size: 0.75rem;
  }

  .imgOne {
    height: 220px;
    width: 300px;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDesc {
    font-size: 0.75rem;
  }

  .list li {
    flex: 1 1 100%;
  }

  .container {
    flex-direction: column;
  }

  .containerOne {
    flex-direction: column;
  }

  .name {
    font-size: 1.5rem;
  }

  .role {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .bannerContainer {
    width: 100%;
    height: 270px;
    padding: 0.5rem;
  }

  .bannerOne {
    height: 260px;
    width: 300px;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .aboutUsMainContainer {
    height: 40vh;
  }

  .subTitle {
    font-size: 1.7rem;
  }

  .sectionOne {
    padding: 2rem;
  }

  .sectionTxt {
    font-size: 0.85rem;
  }

  .imgOne {
    height: 250px;
    width: 340px;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDesc {
    font-size: 0.85rem;
  }

  .list li {
    flex: 1 1 100%;
  }

  .container {
    flex-direction: column;
  }

  .containerOne {
    flex-direction: column;
  }

  .name {
    font-size: 1.7rem;
  }

  .role {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .bannerContainer {
    width: 100%;
    height: 300px;
    padding: 0.5rem;
  }

  .bannerOne {
    width: 350px;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .aboutUsMainContainer {
    height: 40vh;
  }

  .subTitle {
    font-size: 1.7rem;
  }

  .sectionOne {
    padding: 2rem;
  }

  .sectionTxt {
    font-size: 0.85rem;
  }

  .imgOne {
    height: 270px;
    width: 370px;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDesc {
    font-size: 0.85rem;
  }

  .list li {
    flex: 1 1 100%;
  }

  .container {
    flex-direction: column;
  }

  .containerOne {
    flex-direction: column;
  }

  .name {
    font-size: 1.7rem;
  }

  .role {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .bannerContainer {
    width: 100%;
    height: 300px;
    padding: 0.5rem;
  }

  .bannerOne {
    width: 350px;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
