.mainBody {
  /* max-width: 80rem; 1280px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.rndProjectsMainContainer {
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.contentSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #f9f9f9; /* Soft background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  font-weight: 500;
  max-width: 80rem;
  text-align: justify;
}

.subTitle {
  font-size: 2rem;
  color: #4b0406;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

.cardsMainContainer {
  width: 100%; /* Ensure it takes full width */
  max-width: 1200px; /* Limit the width */
  margin: auto; /* Center it */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 2rem 1rem;
  padding: 1.5rem 1rem;
}

.cardContainer {
  background: linear-gradient(120deg, #4b0406, #6b0f12, #a82b30);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cardImg {
  width: 100%;
  height: 340px;
  border-bottom: 3px solid #d1a15a;
}

.cardContent {
  padding: 2rem 1rem;
  text-align: center;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
  line-height: 1.5;
}

.cardDate {
  font-size: 0.75rem; /* Slightly larger text */
  font-weight: 400; /* Bold text */
  color: white; /* Neutral dark color */
  margin-top: 10px;
  line-height: 1.5;
}

.cardLocation {
  font-size: 0.95rem; /* Slightly larger text */
  font-weight: 400; /* Bold text */
  color: white; /* Neutral dark color */
  margin-top: 10px;
  line-height: 1.5;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .sectionTxt {
    font-size: 0.7rem;
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .cardsMainContainer {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionOne {
    padding: 2rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .sectionTxt {
    font-size: 0.8rem;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .cardsMainContainer {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionOne {
    padding: 2rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .sectionTxt {
    font-size: 1rem;
  }

  .subTitle {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .cardTitle {
    font-size: 1.3rem;
  }

  .cardsMainContainer {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionOne {
    padding: 2rem;
  }
}
