.mainBody {
  /* max-width: 80rem; 1280px; */
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.atalTinkeringLabMainContainer {
  height: 85vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.atalTinkeringLabLandingImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.contentSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  min-height: 10vh;
  width: 100%;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #f9f9f9; /* Soft background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTxt {
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: 0.03rem;
  font-weight: 500;
  max-width: 80rem;
  text-align: justify;
}

.subTitle {
  font-size: 2rem;
  color: #4b0406;
  margin-bottom: 1rem;
  letter-spacing: 0.04rem;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

.imgOne {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.imgThree {
  width: 650px;
  height: 320px;
  border-radius: 1rem;
  object-fit: fill;
}

.enquiryContainer {
  min-height: 30vh;
  width: 100%;
  background-color: #f9f9f9; /* Soft background */
  padding: 1rem 0;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: 80rem;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .atalTinkeringLabMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 0.85rem;
  }

  .subTitle {
    font-size: 1.2rem;
  }

  .imgOne {
    height: 220px;
    width: 280px;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .atalTinkeringLabMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 0.85rem;
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .imgOne {
    height: 240px;
    width: 340px;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .atalTinkeringLabMainContainer {
    height: 40vh;
  }

  .sectionTxt {
    font-size: 1rem;
  }

  .subTitle {
    font-size: 1.3rem;
  }

  .imgOne {
    height: 270px;
    width: 370px;
  }
}
