.designServicesSection {
  position: relative;
  height: 47vh;
  overflow: hidden;
  color: white;
  background-image: url("https://github.com/CVSCharan/Technotran_Assets/blob/main/business-businessmen-classroom-267507.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Parallax effect with background-attachment */
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  z-index: 0;
}

.contentContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 1.5rem;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  padding: 0.5rem;
  border-radius: 8px;
}

.description {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  max-width: 800px;
  color: whitesmoke;
  font-weight: 500;
  letter-spacing: 0.03rem;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  padding: 0.5rem;
  border-radius: 8px;
}

.exploreLink {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
  letter-spacing: 0.03rem;
  border: 2px dashed;
}

.exploreLink:hover {
  background: #4b0406;
  transform: translateY(-3px);
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.7rem;
    line-height: 1.5;
  }

  .exploreLink {
    font-size: 0.75rem;
  }

  .contentContainer {
    padding: 2rem 1rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.7rem;
    line-height: 1.5;
  }

  .exploreLink {
    font-size: 0.75rem;
  }

  .contentContainer {
    padding: 2rem 1rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .title {
    font-size: 1.7rem;
  }

  .description {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .exploreLink {
    font-size: 0.75rem;
  }

  .contentContainer {
    padding: 2rem 1rem;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .exploreLink {
    font-size: 0.9rem;
  }

  .contentContainer {
    padding: 2rem 1rem;
  }
}
