.footerMainSection {
  height: auto;
  width: 100%;
  background: linear-gradient(270deg, #4b0406, #6b0f12, #a82b30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.footerCarouselSection {
  height: 25%;
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSubSection {
  height: auto;
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.5rem;
  gap: 0.2rem;
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.footerSubContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.footerSubContainerOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}

.quickLinksSection {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

.reachUsSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactInfoSection {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quickLinksItem {
  list-style-type: none;
  cursor: pointer;
}

.quickLinksTxt {
  font-size: 0.9rem;
  color: wheat;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.03rem;
}

.quickLinksSubSection {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  gap: 1.5rem;
}

.reachUsSubSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding-top: 0.8rem;
  margin-bottom: 0.7rem;
}

.reachUsTxt {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.03rem;
  font-weight: 500;
  text-align: left;
}

.carouselContainer {
  height: 100%;
  width: 95%;
  max-width: 80rem;
  overflow: hidden;
  padding: 1rem 0;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carouselImage {
  width: 175px;
  height: 130px;
  object-fit: fill;
  border-radius: 8px;
  align-self: center;
}

.contactInfoSubSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.8rem;
  gap: 1rem;
}

.contactInfoItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.contactIcons {
  font-size: 1rem;
  fill: white !important;
}

.contactInfoTxt {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 0.03rem;
}

.followUsSection {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.followUsIconsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.followUsSocialMediaIcons {
  cursor: pointer;
  font-size: 3rem;
}

.followUsSocialMediaIcons:hover {
  fill: #555 !important;
  font-size: 3.5rem !important;
}

.footerLogo {
  background-color: white;
  border: 0;
  border-radius: 20px;
  height: 70px;
  width: 160px;
  padding: 0.5rem;
}

.footerTxt {
  font-family: "Montserrat", Sans-serif;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.footerSubTxt {
  font-family: "Montserrat", Sans-serif;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  letter-spacing: 0.03rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-top: 10px;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .footerMainSection {
    height: auto;
    justify-content: flex-start;
  }

  .footerCarouselSection {
    height: 150px;
  }

  .carouselContainer {
    width: 90%;
    height: 150px;
  }

  .carouselImage {
    height: 90px;
    width: 120px;
  }

  .footerSubSection {
    width: 100%;
    flex-direction: column;
  }

  .quickLinksSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .footerSubContainer {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footerSubContainerOne {
    width: 100%;
    padding-left: 2rem;
  }

  .followUsSection {
    width: 100%;
    padding: 0 auto !important;
  }

  .title {
    font-size: 1rem;
  }

  .quickLinksTxt {
    font-size: 0.75rem;
  }

  .reachUsTxt {
    font-size: 0.75rem;
  }

  .contactInfoTxt {
    font-size: 0.75rem;
  }

  .followUsIconsContainer {
    height: 20%;
  }

  .followUsSocialMediaIcons {
    font-size: 1.3rem;
  }

  .followUsSocialMediaIcons:hover {
    font-size: 1.5rem;
  }

  .footerLogo {
    height: 70px;
    width: 180px;
    padding: 0.5rem;
  }

  .footerTxt {
    font-size: 0.75rem;
    max-width: 200px;
    line-height: 1.7;
  }

  .footerSubTxt {
    font-size: 0.65rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .footerMainSection {
    height: 63rem;
    justify-content: flex-start;
  }

  .footerCarouselSection {
    height: 150px;
  }

  .carouselContainer {
    width: 90%;
    height: 150px;
  }

  .carouselImage {
    height: 90px;
    width: 120px;
  }

  .footerSubSection {
    width: 100%;
    flex-direction: column;
  }

  .quickLinksSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .footerSubContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.5rem;
  }

  .footerSubContainerOne {
    width: 100%;
    padding-left: 1rem;
  }

  .followUsSection {
    width: 100%;
    padding: 0 !important;
    gap: 1.4rem;
  }

  .title {
    font-size: 1rem;
  }

  .quickLinksTxt {
    font-size: 0.75rem;
  }

  .reachUsTxt {
    font-size: 0.75rem;
  }

  .contactInfoTxt {
    font-size: 0.75rem;
  }

  .followUsIconsContainer {
    height: 20%;
  }

  .followUsSocialMediaIcons {
    font-size: 1.3rem;
  }

  .followUsSocialMediaIcons:hover {
    font-size: 1.5rem;
  }

  .footerLogo {
    height: 70px;
    width: 180px;
    padding: 0.5rem;
  }

  .footerTxt {
    font-size: 0.85rem;
    max-width: 270px;
    line-height: 1.7;
  }

  .footerSubTxt {
    font-size: 0.7rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .footerMainSection {
    height: 63rem;
    justify-content: flex-start;
  }

  .footerCarouselSection {
    height: 150px;
  }

  .carouselContainer {
    width: 65%;
    height: 150px;
  }

  .carouselImage {
    height: 90px;
    width: 120px;
  }

  .footerSubSection {
    width: 100%;
    flex-direction: column;
  }

  .quickLinksSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .footerSubContainer {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .footerSubContainerOne {
    width: 100%;
    padding-left: 2rem;
  }

  .followUsSection {
    width: 100%;
    padding: 5px !important;
    gap: 1.4rem;
  }

  .title {
    font-size: 1rem;
  }

  .quickLinksTxt {
    font-size: 0.75rem;
  }

  .reachUsTxt {
    font-size: 0.75rem;
  }

  .contactInfoTxt {
    font-size: 0.75rem;
  }

  .followUsIconsContainer {
    height: 20%;
  }

  .followUsSocialMediaIcons {
    font-size: 1.3rem;
  }

  .followUsSocialMediaIcons:hover {
    font-size: 1.5rem;
  }

  .footerLogo {
    height: 70px;
    width: 180px;
    padding: 0.5rem;
  }

  .footerTxt {
    font-size: 0.9rem;
    max-width: 270px;
    line-height: 1.7;
  }

  .footerSubTxt {
    font-size: 0.7rem;
  }
}
