.industriesWeServeSection {
  position: relative;
  height: 67vh;
  overflow: hidden;
  color: white;
  background-image: url("https://github.com/CVSCharan/Technotran_Assets/blob/main/pattern1.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Parallax effect with background-attachment */
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
  padding: 1rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  z-index: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white !important;
}

.contentContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselContainer {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.carouselImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.carouselContent {
  margin-top: 15px;
  text-align: center;
}

.carouselTitle {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.customControls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 1200px;
}

.prevButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  color: #fff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.prevButton:hover,
.nextButton:hover {
  background-color: #4b0406; /* Blue background on hover */
}

.prevButton svg,
.nextButton svg {
  font-size: 1.5rem; /* Icon size */
  fill: white;
}

.prevButton {
  margin-right: 20px; /* Space between the buttons */
}

.nextButton {
  margin-left: 20px; /* Space between the buttons */
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .industriesWeServeSection {
    height: 47vh;
  }

  .title {
    font-size: 1.2rem;
  }

  .carouselTitle {
    font-size: 0.75rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .industriesWeServeSection {
    height: 47vh;
  }

  .title {
    font-size: 1.5rem;
  }

  .carouselTitle {
    font-size: 0.75rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .industriesWeServeSection {
    height: 47vh;
  }

  .title {
    font-size: 1.7rem;
  }

  .carouselTitle {
    font-size: 0.8rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}
