.testimonialsSection {
  max-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 2rem;
  padding: 2rem 0;
  background: linear-gradient(to bottom, #ffffff, #f0f0f5);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 2.5rem;
  color: #4b0406;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-align: center;
}

.carouselContainer {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Ensuring it takes full height */
  width: 100%;
  padding: 1rem 0;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px; /* Optional: max width of the card */
  height: 100%; /* Ensure the card takes full height */
  margin: auto;
  border: 2px solid #4b0406;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 1.5rem;
}

.descriptionContainer {
  height: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.description {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.03rem;
}

.authorInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin-top: 10px;
  flex-shrink: 0;
  padding: 0 1rem;
}

.cardImage {
  flex-shrink: 0;
}

.cardImg {
  width: 100px;
  height: 100px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid #4b0406;
  padding: 0.1rem;
}

.authorDetails {
  text-align: left;
}

.authorName {
  font-weight: bold;
  color: #333;
}

.authorDesignation {
  font-size: 0.85rem;
  color: #4b0406;
  font-weight: 500;
}

.quoteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Space between the quote and description */
}

.quoteIcon svg {
  width: 3rem; /* Adjust size for better appearance */
  height: 3rem; /* Keeps it proportional */
  fill: #4b0406; /* Matches your theme color */
}

.customControls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  max-width: 80rem;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 20px;
}

.prevButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  color: #fff;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.prevButton:hover,
.nextButton:hover {
  background-color: #4b0406; /* Blue background on hover */
}

.prevButton svg,
.nextButton svg {
  font-size: 1.5rem; /* Icon size */
  fill: white;
}

.prevButton {
  margin-right: 20px; /* Space between the buttons */
}

.nextButton {
  margin-left: 20px; /* Space between the buttons */
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .prevButton,
  .nextButton {
    height: 30px;
    width: 30px;
  }

  .prevButton svg,
  .nextButton svg {
    font-size: 1rem;
  }
}
