.whyChooseUsContainer {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(to bottom, #f5f5f5, #ececec);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.whyChooseUsTitle {
  font-size: 2.5rem;
  color: #4b0406;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-align: center;
}

.cardMainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  height: 100%;
  width: 100%;
  max-width: 80rem /* 1280px */;
}

.cardContainer {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardImg {
  height: 55%;
  width: 100%;
  object-fit: fill;
}

.cardSubContainer {
  height: 45%;
  width: 100%;
  padding: 0.8rem;
  background-color: #4b0406;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.cardTxt {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  color: #f5f5f5;
  font-weight: 500;
}

.cardTxt:hover {
  text-shadow: 0px 0px 1px #fff;
}
